.card {
  width: 210px;
  height: 260px;
  border-radius: 40px;
  border: 1px solid #F3F3F3;
  background: #FFF;
  padding: 15px 20px 20px 30px;
  position: relative;
  transition: 0.5s;
  &:hover{
    box-shadow: 10px 10px 5px rgb(128, 128, 128);
    transform: translateY(-10px);
  }
  .like {
    position: absolute;
    z-index: 1;
  }
  .img {
    width: 133px;
    height: 112px;
  }
  .title {
    width: 150px;
    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 0;
  }
  .info {
    width: 151px;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    .price {
      width: 110px;
      .title {
        color: #BDBDBD;
        font-family: Inter;
        font-size: 17px;
        font-weight: 500;
        line-height: normal;
        }
      .sum {
        font-family: Inter;
        font-size: 17px;
        font-weight: 700;
        line-height: normal;
      }
    }
    .btn {
      cursor: pointer;
    }
  }
}